<!--

        This file is part of the Squashtest platform.
        Copyright (C) Henix, henix.fr

        See the NOTICE file distributed with this work for additional
        information regarding copyright ownership.

        This is free software: you can redistribute it and/or modify
        it under the terms of the GNU Lesser General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        this software is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Lesser General Public License for more details.

        You should have received a copy of the GNU Lesser General Public License
        along with this software.  If not, see <http://www.gnu.org/licenses/>.

-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-transitional-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:with=
        "titleWindow = ${execution.datasetLabel != null AND execution.datasetLabel != ''} ?
	   		#{title.ExecutionPopupPreviewWithDataset(${execution.executionOrder + 1}, ${execution.name}, ${execution.datasetLabel})}
	   		: #{title.ExecutionPopupPreviewWithoutDataset(${execution.executionOrder + 1}, ${execution.name})} ,
	   title = ${execution.datasetLabel != null AND execution.datasetLabel != ''} ?
	   		#{title.ExecutionPopupWithDataset(${execution.executionOrder + 1}, ${execution.name}, ${execution.datasetLabel})}
	   		: #{title.ExecutionPopupWithoutDataset(${execution.executionOrder + 1}, ${execution.name})} ,
	   titlePrerequisite = ${execution.isScripted()} ? #{label.Background} : #{generics.prerequisite.title}
">
<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <!-- default header name is X-CSRF-TOKEN -->
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <!-- ... -->
<style th:remove="all" type="text/css">
/**
documentation :
			Parameters :
				- execution : the execution object of which we display the preview

*/
</style>

<title th:text="${titleWindow}">Exec #3 : test interface
	(preview)</title>

<link rel="stylesheet" type="text/css"
	href="../../../../../../../tm/tm.web/src/main/webapp/styles/squash.purple.css"
	sq:css="squash.purple.css" />

<link rel="stylesheet" type="text/css" media="all" href="../../../../../../../tm/tm.web/src/main/webapp/styles/squash.core.css"
	sq:css="squash.core.css" />

<script type="text/javascript" th:inline="javascript">
//<![CDATA[
	var require = {
		baseUrl : /*[[@{/scripts/}]]*/'../../scripts/'
	};

	var squashtm = squashtm || {};
	squashtm.app = squashtm.app || {};
	squashtm.app.contextRoot = /*[[@{/}]]*/ "http://localhost:8080/squash";
	squashtm.page = squashtm.page || {};
	squashtm.page.hasFields = /*[[${hasCustomFields}]]*/ false;
	squashtm.page.hasDenormFields = /*[[${hasDenormFields}]]*/ false;
    squashtm.page.denormsUrl = /*[[@{/denormalized-fields/values(denormalizedFieldHolderId=${execution.boundEntityId},denormalizedFieldHolderType=${execution.boundEntityType})}]]*/ "";
    squashtm.page.fieldsUrl = /*[[@{/custom-fields/values(boundEntityId=${execution.boundEntityId},boundEntityType=${execution.boundEntityType})}]]*/ "";
    squashtm.page.refTestCaseId = /*[[${execution.referencedTestCase.id} ]]*/;
    squashtm.page.executionId = /*[[${execution.id}]]*/;
    squashtm.page.config = /*[[${config}]]*/ {};
//]]>
</script>
  <script type="text/javascript" th:src="@{/scripts/require-min.js}" src="../../scripts/require.js" data-main="execution-preview-page"></script>
  <script type="text/javascript" th:inline="javascript">
      /* <![CDATA[ */
      requirejs.config({
          waitSeconds: 0
      });
      /* ]]> */
  </script>

<script th:remove="all" type="text/javascript" src="../../scripts/lib/jquery/jquery-1.8.3.min.js"></script>
<script th:remove="all" type="text/javascript" src="../../js/thymol.js"></script>
<script th:remove="all" type="text/javascript" src="../../scripts/require.js"></script>
<script th:remove="all" type="text/javascript" src="../../scripts/common.js"></script>
</head>

<body class="execute-html-body">

  <!--  initialize the wizards -->
  <div th:replace="fragments-utils/init-wizards :: init-wizards(workspace='campaign')"/>

<div id="execute-header" class="cf">
  <div class="btn-toolbar left">
    <div class="btn-group">
      <button id="execute-stop-button" class="sq-icon-btn" th:title="#{execute.header.button.stop.title}" title="stop">
        <span class="ui-icon ui-icon-power"></span>
      </button>
    </div>
    <div class="btn-group">
      <span id="execute-header-numbers-label" th:text="'0 / '+${totalSteps}">0 / 3</span>
    </div>
  </div>
  <div class="btn-toolbar right">
    <a id="execute-begin-button" class="sq-icon-btn"
       th:href="@{__${currentStepsUrl}__/index/0(optimized=${config.optimized})}" href="#">
      <span th:text="#{label.Begin}">Begin</span>
      <span class="ui-icon ui-icon-triangle-1-e"></span>
      </a>
    </div>
  </div>


	<div id="execute-body" class="execute-fragment-body">

    <div id="execute-title-div" class="ui-widget-header ui-state-default ui-corner-all fragment-header">
    <table>
      <tr>
        <td><h2 th:text="${title}">Exec #3 : test interface</h2></td>
        <td class="cf">
          <div class="btn-toolbar right">
            <button th:if="${execution.project.allowTcModifDuringExec() and !execution.isScripted()}" id="edit-tc" th:title="#{execution.execute.modify.testcase}"
                    class="sq-btn std-btn control-button ">
              <span class="ui-icon ui-icon-pencil"/>
            </button>
          </div>
        </td>
      </tr>
    </table>
    </div>

    <div class="sq-tg expand">
        <div class="tg-head">
          <h3 th:text="#{label.Description}"></h3>
        </div>
        <div id="execute-informations-panel" class="tg-body is-contextual load-links-right-frame"
         title="Informations" >

          <div class="display-table">

            <div th:if="${execution.isScripted()}" class="display-table-row">

              <label class="display-table-cell" th:text="#{${execution.scriptedExecutionExtender.language.i18nScriptNameKey()}}">Feature</label>

              <div id="testcase-script-name" class="display-table-cell" th:text="${execution.scriptedExecutionExtender.scriptName}">REF01</div>
            </div>


            <div class="display-table-row">

              <label class="display-table-cell" th:text="#{test-case.reference.label}">reference</label>

              <div id="testcase-reference" class="display-table-cell" th:text="${execution.reference}">REF01</div>
            </div>


            <div class="display-table-row">

              <label class="display-table-cell" th:text="#{label.Description}">description</label>

              <div id="testcase-description" class="display-table-cell"  sq:unsafe-html="${execution.tcdescription}">

                <p th:remove="all">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                  laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                  vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                  sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                  qui dolorem ipsum quia dolor sit amet,</p>

                <p th:remove="all">consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                  labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
                  ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                  reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
                  fugiat quo voluptas nulla pariatur?</p>
              </div>
            </div>

            <div class="display-table-row">
              <label class="display-table-cell" th:text="#{test-case.status.label}">status</label>
         	  <div  class="display-table-cell">
                <span id="test-case-status-icon" th:class="'test-case-status-'+${execution.status}">  &nbsp; &nbsp; </span>
                <span id="testcase-status" th:text="${execution.status.level}+'-'+#{${execution.status.getI18nKey()}}">0 - a specifier</span>
              </div>
            </div>
             <div th:if="${execution.isNotScripted()}" class="display-table-row">
              <label class="display-table-cell" th:text="#{label.dataset}">dataset</label>

          <div id="execute-dataset" class="display-table-cell" th:text="${execution.datasetLabel}">
            dataset name
          </div>
            </div>

            <div class="display-table-row">
            	<input type="hidden" id="TC_SOURCE_ID" th:value="${execution.referencedTestCase.id}" />
             	<input type="hidden" id="TC_SOURCE_NAME" th:value="${execution.referencedTestCase.name}" />
                <input type="hidden" id="EXEC_ID" th:value="${execution.id}" />
            </div>

          </div>
        </div>
    </div>


    <div class="sq-tg expand">
      <div class="tg-head">
        <h3 th:text="#{label.Attributes}"></h3>
      </div>
      <div id="test-case-attribute-panel" class="tg-body is-contextual load-links-right-frame" title="Attribute">
  			<div class="display-table">

  		<div class="display-table-row">
            <label class="display-table-cell" th:text="#{test-case.importance.label}">importance</label>
  			<div class="display-table-cell">
            <span id="test-case-importance-icon"
                  th:class="'test-case-importance-'+${execution.importance}">&nbsp;&nbsp;</span>
  	          <span id="testcase-importance"
  	            th:text="${execution.importance.level}+'-'+#{${execution.importance.getI18nKey()}}">0 - most important of all</span>
  	        </div>
          </div>

          <div class="display-table-row" th:with="natLabel = ${#messages.msgOrNull('__${execution.nature.label}__')}">
            <label class="display-table-cell" th:text="#{test-case.nature.label}">nature</label>
            <div id="testcase-nature" class="display-table-cell"
               th:text="${(natLabel != null) ? natLabel : execution.nature.label}">0 - supernatural
          </div>
          </div>

          <div class="display-table-row" th:with="typLabel = ${#messages.msgOrNull('__${execution.type.label}__')}">
            <label class="display-table-cell" th:text="#{test-case.type.label}">type</label>
            <div id="testcase-type" class="display-table-cell"
               th:text="${(typLabel != null) ? typLabel : execution.type.label}">0 - R
          </div>
          </div>

  				</div>
  			</div>
  			</div>

    <div class="sq-tg expand">
        <div class="tg-head">
          <h3 th:text="${titlePrerequisite}"></h3>
        </div>
        <div id="execute-prerequisite-panel" class="tg-body is-contextual load-links-right-frame" >
    			<div class="display-table">
    			<div class="display-table-row">
    				<div class="display-table-cell" sq:unsafe-html="${execution.prerequisite}">
    					<p th:remove="all">
    						consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
    						quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
    						nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
    						quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    					</p>
    				</div>
    			</div>
    			</div>
    	</div>
	</div>

    <div class="sq-tg expand">
      <div class="tg-head">
        <h3 th:text="#{label.verifiedRequirements}"></h3>
      </div>
      <div id="verified-requirements-panel" class="tg-body is-contextual load-links-right-frame">
        <table id="verified-requirements-table" data-def="pre-sort=3-asc, pagesize=50 ">
          <thead>
          <tr>
            <th th:attr="data-def='select, map=entity-index'">#</th>
            <th th:attr="data-def='sortable, map=project'" th:text="#{label.project}">Project</th>
            <th th:attr="data-def='sortable, map=versionId'" th:text="#{label.versionId }">Id</th>
            <th th:attr="data-def='sortable, map=reference'" th:text="#{label.Reference}">Reference</th>
            <th th:attr="data-def='sortable, sClass=verif-req-description, map=name'"
                th:text="#{requirement.name.label}">Name
            </th>
            <th th:attr="data-def='sortable, map=criticality'" th:text="#{requirement.criticality.label}">Critical</th>
            <th th:attr="data-def='invisible, map=description'"></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="reqVer, iterStat : ${verifiedReqVersions}">
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${reqVer.requirement.project.name}">project</td>
            <td th:text="${reqVer.id}">version id </td>
            <td th:text="${reqVer.reference}">ref 1</td>
            <td th:text="${reqVer.name}">name 1</td>
            <td th:text="#{__${reqVer.criticality.i18nKey}__}">Criticality</td>
            <td th:utext="${reqVer.description}">description</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  <div th:with="attachable = ${false}, attachableEntity=${execution}, attachmentSet = ${attachments}"
       id="attachment-bloc-frag" th:include="attachment-bloc.frag :: attachment-bloc">
    ATTACHMENT-BLOC
	</div>
  <div class="sq-tg expand">
    <div class="tg-head">
      <h3 th:text="#{label.customFieldsManagement}"></h3>
    </div>
    <div id="execution-attribute-panel" class="tg-body is-contextual load-links-right-frame" title="Exécution">
      <div class="display-table">
      </div>
    </div>
  </div>

  </div>
</body>

</html>
