<!--

        This file is part of the Squashtest platform.
        Copyright (C) Henix, henix.fr

        See the NOTICE file distributed with this work for additional
        information regarding copyright ownership.

        This is free software: you can redistribute it and/or modify
        it under the terms of the GNU Lesser General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        this software is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Lesser General Public License for more details.

        You should have received a copy of the GNU Lesser General Public License
        along with this software.  If not, see <http://www.gnu.org/licenses/>.

-->
<!--

    Thymeleaf supports formal fragment parameters since version 2.1, unfortunately as for now we only have the 2.0.14.
    We can still use parameters when the invoked, when appending th:with="param=${value}" to the tag holding the 'th:include/replace' instruction.

    Parameters :

      - highlight : the name of the workspace this instance of navbar is displayed in.
        Pick one of 'home', 'test-case', 'requirement', 'campaign', 'report'

 -->

<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-transitional-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" type="text/css" media="all" href="../../../../../../../tm/tm.web/src/main/webapp/styles/squash.core.css"
    sq:css="squash.core.css" />
  <link rel="stylesheet" type="text/css" media="all" href="../../../../../../../tm/tm.web/src/main/webapp/styles/squash.blue.css"
    sq:css="squash.blue.css" />
  <meta name="_csrf" th:content="${_csrf.token}" />
  <!-- default header name is X-CSRF-TOKEN -->
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body>
  <div id="workspace" th:fragment="navbar(highlight)">
    <div id="test_mgt_nav" class="squash-navbar" th:with="bugtrackers = ${bugtrackers == null ? #workspace.visibleBugtrackers() : bugtrackers},
      canNavigate = ${sec.hasRole('ROLE_TF_FUNCTIONAL_TESTER')} or ${sec.hasRole('ROLE_ADMIN')} or ${sec.hasRole('ROLE_TM_PROJECT_MANAGER')}">

      <a id="requirement-link" style="margin-top: 15px;" class="navigation-link navigation-requirement navigation-link-first"
        th:href="@{/requirement-workspace/}" th:title="#{workspace.requirement.button.label}" th:classappend="${highlight == 'requirement'} ? 'navigation-selected'"
        th:if="${canNavigate}">
      </a>
      <a id="test-case-link" style="margin-top: 10px;" class="navigation-link navigation-test-case" th:href="@{/test-case-workspace/}"
        th:title="#{workspace.test-case.button.label}" th:classappend="${highlight == 'test-case'} ? 'navigation-selected'"
        th:if="${canNavigate}"></a>

      <a id="campaign-link" style="margin-top: 10px;" class="navigation-link navigation-campaign" th:href="@{/campaign-workspace/}"
        th:title="#{workspace.campaign.button.label}" th:classappend="${highlight == 'campaign'} ? 'navigation-selected'"
        th:if="${canNavigate}"></a>



      <div id="nav_logo">
        <div id="test_mgt_nav_bottom" style="margin-bottom: 40px; margin-top:70px;">
          <a id="home-link" class="navigation-link navigation-home" th:href="@{/home-workspace/}" th:title="#{workspace.home.button.label}"
            th:classappend="${highlight == 'home'} ? 'navigation-selected'" th:if="${canNavigate}">
          </a>

          <a id="custom-report-link" class="navigation-link navigation-custom-report" th:href="@{/custom-report-workspace/}"
            th:title="#{workspace.custom-report.title.long}" th:classappend="${highlight == 'custom-report'} ? 'navigation-selected'"
            th:if="${canNavigate}"></a>

          <a id="bugtracker-link" class="navigation-link navigation-bugtracker" th:classappend="${#lists.isEmpty(bugtrackers)} ? 'not-displayed'"
            th:title="#{workspace.bugtracker.button.label}" th:if="${canNavigate}"></a>

          <ul class="not-displayed width:130px;" style="max-height: 12.8em;">
            <li th:each="bugtracker : ${bugtrackers}">
              <a th:id="'bugtracker-'+${bugtracker.id}" th:href="${bugtracker.iframeFriendly} ? @{/bugtracker/}+${bugtracker.id}+'/workspace' : ${bugtracker.URL}"
                th:target="${bugtracker.iframeFriendly} ? '' : '_blank'" th:text="${bugtracker.name}">mantis</a>
            </li>
          </ul>

          <a id="automation-link" style="margin-top: 10px;" class="navigation-link navigation-automation" th:href="@{/automation-workspace/}"
            th:title="#{workspace.automation.programmer.button.label}" th:classappend="${highlight == 'automation'} ? 'navigation-selected'"
            th:if="${!sec.hasRole('ROLE_TF_FUNCTIONAL_TESTER')} and ${sec.hasRole('ROLE_TF_AUTOMATION_PROGRAMMER')} and ${!sec.hasRole('ROLE_ADMIN')}"></a>

          <a id="automation-tester-link" style="margin-top: 10px;" class="navigation-link navigation-automation"
            th:href="@{/automation-tester-workspace/}" th:title="#{workspace.automation.tester.button.label}"
            th:classappend="${highlight == 'automation'} ? 'navigation-selected'" th:if="${sec.hasRole('ROLE_TF_FUNCTIONAL_TESTER')} and ${!sec.hasRole('ROLE_TF_AUTOMATION_PROGRAMMER')} and ${!sec.hasRole('ROLE_ADMIN')}"></a>

          <a id="automation-link-ul" style="margin-top: 10px;" class="navigation-link navigation-automation" th:title="#{workspace.automation.button.label}"
            th:classappend="${highlight == 'automation'} ? 'navigation-selected'" th:if="(${sec.hasRole('ROLE_TF_FUNCTIONAL_TESTER')} and ${sec.hasRole('ROLE_TF_AUTOMATION_PROGRAMMER')}) or ${sec.hasRole('ROLE_ADMIN')} or ${sec.hasRole('ROLE_TM_PROJECT_MANAGER')}"></a>
          <ul class="not-displayed width:130px;" style="max-height: 12.8em;">
            <li>
              <a th:id="automation-link" th:href="@{/automation-workspace/}" th:text="#{workspace.automation.programmer.button.label}"></a>
            </li>
            <li>
              <a th:id="automation-tester-link" th:href="@{/automation-tester-workspace/}" th:text="#{workspace.automation.tester.button.label}"></a>
            </li>
          </ul>

        </div>
        <div class="vertical-logo"></div>
      </div>
    </div>

    <script type="text/javascript">
      publish("load.navBar");
    </script>
  </div>
</body>

</html>
