<!--

        This file is part of the Squashtest platform.
        Copyright (C) Henix, henix.fr

        See the NOTICE file distributed with this work for additional
        information regarding copyright ownership.

        This is free software: you can redistribute it and/or modify
        it under the terms of the GNU Lesser General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        this software is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Lesser General Public License for more details.

        You should have received a copy of the GNU Lesser General Public License
        along with this software.  If not, see <http://www.gnu.org/licenses/>.

-->
<div th:fragment="library-view">
	<div
		class="ui-widget-header ui-corner-all ui-state-default fragment-header">
		<div id="right-frame-button">
			<input type="button" class="sq-btn btn-sm" id="toggle-expand-left-frame-button" th:title="#{tooltip.toggleLibraryDisplay}"/>
		</div>
		<h2>
			<div id="library-name">{{project-name}}</div>
		</h2>
	</div>

	<div class="fragment-body">
		<div id="description-panel-container" class="sq-tg expand">
			<div class="tg-head">
				<h3 th:text="#{label.Description}">desc</h3>
			</div>
			<div id="description-panel" class="tg-body">
				{{{project-description}}}</div>
		</div>
    <div class="sq-tg expand">
      <div class="tg-head">
        <h3 th:text="#{generics.customfieldvalues.title}">desc</h3>
      </div>
      <div class="tg-body" id="folder-cuf-panel">
        <div id="CUF-table" class="display-table">
        </div>
      </div>
    </div>
	</div>




<script type="text/javascript">
  require(["common"], function(){
    require(["jquery","custom-field-values"],
      function($, cufvalues){
        var cufmode =  'jeditable';
        $.getJSON(window.squashtm.app.router.cufurl).success(function (jsonCufs) {
          cufvalues.infoSupport.init("#CUF-table", jsonCufs, cufmode);
        });

      });
  });

</script>
</div>

