<!--

        This file is part of the Squashtest platform.
        Copyright (C) Henix, henix.fr

        See the NOTICE file distributed with this work for additional
        information regarding copyright ownership.

        This is free software: you can redistribute it and/or modify
        it under the terms of the GNU Lesser General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        this software is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Lesser General Public License for more details.

        You should have received a copy of the GNU Lesser General Public License
        along with this software.  If not, see <http://www.gnu.org/licenses/>.

-->
<div th:fragment="custom-export-view">

  <div id="custom-export-name-div" class="ui-widget-header ui-corner-all ui-state-default fragment-header">
    <div id="right-frame-button">
      <input type="button" class="sq-btn btn-sm" id="toggle-expand-left-frame-button" th:title="#{tooltip.toggleLibraryDisplay}"/>
    </div>
    <div style="float: left; height: 100%;" class="small-margin-left">
      <h2>
        {{name}}
      </h2>
    </div>
    <div class="unsnap"></div>
  </div>

  <div id="element-toolbar" class="toolbar-class ui-corner-all">
    <div class="toolbar-information-panel">
      <div id="general-information-panel" class="information-panel">
        <span th:text="#{label.CreatedOn}+'&nbsp;:&nbsp;'">Created on </span>{{createdOn}} ({{createdBy}})
        <br/>
        <span th:text="#{label.UpdatedOn}+'&nbsp;:&nbsp;'">Updated on</span>
        {{#if lastModifiedBy}} {{lastModifiedOn}} ({{lastModifiedBy}})
        {{else}} <span th:text="#{label.lower.Never}"></span>
        {{/if}} <br />
      </div>
    </div>
    {{#if (contains acls.perms 'WRITE')}}
    <div class="toolbar-button-panel">
      <input type="button"
             th:attr="value=#{report.criteria.panel.button.generate.label},
             title=#{report.criteria.panel.button.generate.label}"
             id="generate-custom-export-button" class="sq-btn" />
      <input type="button"
             th:attr="value=#{label.Rename},title=#{label.Rename}"
             id="rename-custom-export-button" class="sq-btn" />
      <input type="button"
             th:attr="value=#{label.Modify}, title=#{label.Modify}"
             id="modify-custom-export-button" class="sq-btn" />
    </div>
    {{/if}}
    <div class="unsnap"></div>
  </div>

  <div class="sq-tg expand">
    <div class="tg-head">
      <h3>
        <span th:text="#{label.Attributes}">Attributes</span>
      </h3>
    </div>
    <div class="tg-body">
      <div class="display-table">
        <div class="display-table-row">
          <label for="custom-export-perimeter" class="display-table-cell">
            <span th:text="#{chart.label.perimeter}">Périmètre</span>
          </label>
          <div id="custom-export-perimeter" class="display-table-cell">
            {{scope}}
          </div>
        </div>
        <div class="display-table-row">
          <label for="custom-export-attributes" class="display-table-cell">
            <span th:text="#{label.Columns}">Colonnes</span>
          </label>
          <div id="custom-export-attributes" class="display-table-cell">
            {{#each columns as |labelList entityKey|}}
            <div>
              <span style="font-weight: bold;">{{i18n entityKey prefix='chart.entityType.'}}:</span>
              <div style="display-table-row; padding-left: 2em;">
                {{#each labelList}}
                <span>| {{this}}</span>
                {{/each}} |
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

