<!--

        This file is part of the Squashtest platform.
        Copyright (C) Henix, henix.fr

        See the NOTICE file distributed with this work for additional
        information regarding copyright ownership.

        This is free software: you can redistribute it and/or modify
        it under the terms of the GNU Lesser General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        this software is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Lesser General Public License for more details.

        You should have received a copy of the GNU Lesser General Public License
        along with this software.  If not, see <http://www.gnu.org/licenses/>.

-->
<div th:fragment="automation-global-view">
  <div style="margin-bottom: 60px">
    <div style="margin-bottom:20px">
      <span class="tf-message" th:text="#{automation.message.global}"></span>
      <button id="automated-automation-button" class="tf-lg green" th:title="#{automation.label.automated}" th:text="#{automation.label.automated}"
        style="float:right"></button>
    </div>
    <div style="float: right">
      <button id="progress-automation-button" class="tf green" th:title="#{automation.label.progress}" th:text="#{automation.label.progress}"></button>
      <button id="rejected-automation-button" class="tf green" th:title="#{automation.label.rejected}" th:text="#{automation.label.rejected}"></button>
      <button id="unassigned-automation-button" class="tf green button-icon" th:title="#{automation.label.disaseembled}"><span class="tf-icon user-deactivated"></span></button>
      <button id="assigned-automation-button" class="tf green button-icon" th:title="#{automation.label.assigned.title}"><span class="tf-icon user-active"></span></button>
    </div>
  </div>

  <div class="left btn-toolbar">
    <div class="btn-group">
      <button id="filter-global-button" class="tf green">
        <span th:text="#{label.Filter}"></span>
      </button>
    </div>
  </div>
  <div class="right btn-toolbar">
    <div class="btn-group" style="margin-top: 5px">
      <span th:text="#{automation.label.selected.rows}">Nombre de lignes actives:</span><span id="selectedRows">0</span>
      <button id="select-global-button" class="tf-sm" th:title="#{label.SelectAllForSelection}" th:text="#{label.SelectAllForSelection}"></button>
      <button id="deselect-global-button" class="tf-sm" th:title="#{label.DeselectAll}" th:text="#{label.DeselectAll}"></button>
    </div>
  </div>
  <div style="width:100%; overflow: auto;">
    <table id="automation-table" class="automation-table">
      <thead>
          <tr>
            <th class="no-user-select">#</th>
            <th th:text="#{automation.datatable.headers.project}" class="no-user-select tp-th-filter tp-th-project-name"></th>
            <th th:text="#{automation.datatable.headers.id}" class="no-user-select tp-th-filter tp-th-id"></th>
            <th th:text="#{automation.datatable.headers.reference}" class="no-user-select tp-th-filter tp-th-reference"></th>
            <th th:text="#{automation.datatable.headers.label}" class="no-user-select tp-th-filter tp-th-label"></th>
            <th th:text="#{automation.datatable.headers.format}" class="no-user-select tp-th-filter tp-th-format"></th>
            <th th:text="#{automation.datatable.headers.createdby}" class="no-user-select tp-th-filter tp-th-createdby"></th>
            <th th:text="#{automation.datatable.headers.priority}" class="no-user-select tp-th-filter tp-th-priority"></th>
            <th th:text="#{automation.datatable.headers.status}" class="no-user-select tp-th-filter tp-th-status"></th>
            <th th:text="#{automation.datatable.headers.assignedto}" class="no-user-select tp-th-filter tp-th-assignedto"></th>
            <th th:text="#{automation.datatable.headers.script}" class="assigned-script"></th>
            <th th:text="#{automation.datatable.headers.uuid}" class="no-user-select tp-th-filter tp-th-uuid"></th>
            <th th:text="#{automation.datatable.headers.transmittedon}" class="no-user-select tp-th-filter tp-th-transmittedon"></th>
            <th th:text="#{automation.datatable.headers.assignedon}"></th>
            <th class="no-user-select"></th>
            <th class="no-user-select"></th>
            <th></th>
          </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>




</div>
