<!--

        This file is part of the Squashtest platform.
        Copyright (C) Henix, henix.fr

        See the NOTICE file distributed with this work for additional
        information regarding copyright ownership.

        This is free software: you can redistribute it and/or modify
        it under the terms of the GNU Lesser General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        this software is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Lesser General Public License for more details.

        You should have received a copy of the GNU Lesser General Public License
        along with this software.  If not, see <http://www.gnu.org/licenses/>.

-->
<taglib xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		version="2.0">
	<tlib-version>1.0</tlib-version>
	<short-name>json</short-name>
	<uri>http://org.squashtest.tm/taglib/json</uri>
	<function>
		<name>serialize</name>
		<function-class>org.squashtest.tm.web.internal.helper.JsonHelper</function-class>
		<function-signature>java.lang.String serialize(java.lang.Object)</function-signature>
	</function>
	<function>
		<name>serializeCustomfields</name>
		<function-class>org.squashtest.tm.web.internal.helper.JsonHelper</function-class>
		<function-signature>java.lang.String serializeCustomfields(java.util.Collection)</function-signature>
	</function>
	<function>
		<name>marshall</name>
		<function-class>org.squashtest.tm.web.internal.helper.JsonHelper</function-class>
		<function-signature>java.lang.String serialize(java.lang.Object)</function-signature>
	</function>
	<function>
		<name>serializeWithoutToken</name>
		<function-class>org.squashtest.tm.web.internal.helper.JsonHelper</function-class>
		<function-signature>java.lang.String serializeWithoutToken(java.lang.Object)</function-signature>
	</function>
</taglib>
