<!--

        This file is part of the Squashtest platform.
        Copyright (C) Henix, henix.fr

        See the NOTICE file distributed with this work for additional
        information regarding copyright ownership.

        This is free software: you can redistribute it and/or modify
        it under the terms of the GNU Lesser General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        this software is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Lesser General Public License for more details.

        You should have received a copy of the GNU Lesser General Public License
        along with this software.  If not, see <http://www.gnu.org/licenses/>.

-->
<!--

	Common UI templates for third party servers administration

 -->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-transitional-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

	<div th:fragment="credentials-manager(authConf)">
		<div th:remove="all">
		Documentation :
			That fragment is a port of the jsp tag third-party-server/credentials-manager.tag.
			It encapsulates the panes for configuring the modalities of authentication for a third party server.

			Usage:
			- server side : requires an instance of ThirdPartyServerCredentialsManagementBean (named authConf, see above).
			- client side : require third-party-server/credentials-manager.js

		</div>


		<div id="server-authentication-masterpane" th:with="
			policyUsr=(${authConf.authPolicy.toString()} == 'USER'),
			policyApp=(${authConf.authPolicy.toString()} == 'APP_LEVEL')">


			<!-- protocol configuration -->
			<div th:replace="fragments-utils/components :: toggle-panel(
									id='server-auth-protocol',
									titleKey='label.ServerAuthProtocol',
									body=~{::.server-auth-proto-pane},
									open=${true}
									)">


				<div class="adm-srv-auth server-auth-proto-pane">

					<!-- protocol selection -->
					<select id="srv-auth-proto-select" style="display:block;">

						<th:block th:each="proto : ${authConf.availableProtos}">
							<option th:value="${proto}" th:selected="(${authConf.selectedProto} == ${proto})">
								[[#{authentication.protocol.__${proto.toString().toLowerCase()}__}]]
							</option>
						</th:block>

					</select>

					<!-- protocol conf section -->
					<div class="srv-form srv-auth-form-main side-panel std-border std-border-radius"  style="min-width:50%">

						<div id="srv-auth-conf-form" class="templated-form" >
						<!-- templated by handlebars -->
						</div>

						<div class="centered srv-auth-buttonpane" style="position:relative">
							<span class="needs-save-msg" style="display:none;">[[#{thirdpartyserver.admin.messages.needs-save}]]</span>
							<!-- note : there is no 'test' button, because testing auth-configuration is hard or impossible -->
							<input type="button" class="sq-btn auth-save" th:value="#{label.save}"/>
						</div>

					</div>


					<div class="side-panel srv-auth-messagepane" >
						<!--templated by handlebars -->
					</div>

				</div>

			</div>

			<!-- policy configuration -->
			<div th:replace="fragments-utils/components :: toggle-panel(
						id='server-auth-policy',
						titleKey='label.ServerAuthPolicy',
						body=~{::.server-auth-policy-pane},
						open=${true}
						)">

				<div class="adm-srv-auth server-auth-policy-pane">
					<!-- policy conf panel -->
					<div class="side-panel">
						<div class="tbl side-panel">
							<!-- user policy choice -->
							<div th:if="${authConf.featureAuthPolicySelection}">
								<label>[[#{thirdpartyserver.admin.policy.user-section}]]</label>
								<div>
									<label style="vertical-align:middle; display:block;">
										<input type="radio" name="srv-auth-policy" value="USER" th:checked="${policyUsr}">
										[[#{thirdpartyserver.admin.policy.users}]]
									</label>

									<label style="vertical-align:middle; display:block;">
										<input type="radio" name="srv-auth-policy" value="APP_LEVEL" th:checked="${policyApp}">
										[[#{thirdpartyserver.admin.policy.app}]]
									</label>
								</div>
							</div>

							<!-- app-level credentials section -->
							<div class="srv-form" th:with="
								squashtmCredentialsLabel = ${authConf.appLevelCredsAreOptional} ?
															'thirdpartyserver.admin.policy.squashtm-section.optional' :
															'thirdpartyserver.admin.policy.squashtm-section'
							">
								<label>[[#{__${squashtmCredentialsLabel}__}]]</label>
								<div class="srv-auth-form-main std-border std-border-radius" >

									<div id="srv-auth-creds-form" class="templated-form">
										<!-- templated by handlebars -->
									</div>

									<div class="centered srv-auth-buttonpane" style="position:relative">
										<span class="needs-save-msg" style="display:none;">[[#{thirdpartyserver.admin.messages.needs-save}]]</span>
										<input type="button" class="sq-btn auth-test" th:value="#{label.test}" th:if="${authConf.featureTestCredentialsButton}"/>
										<input type="button" class="sq-btn auth-save" th:value="#{label.save}"/>
									</div>

								</div>
							</div>
						</div>
					</div>

					<!-- message zone -->
					<div class="side-panel srv-auth-messagepane">
						<!--templated by handlebars -->
					</div>
				</div>
			</div>

		</div>



		<!-- templates -->
		<div class="not-displayed" id="auth-templates">

			<script id="oauth-conf-template" type="text/x-handlebars-template">
				<div class="tbl" style="width:100%">
				<div>
					<label>[[#{thirdpartyserver.admin.protocol.conf.oauth1a.consumerkey}]]</label>
					<input type="text" value="{{consumerKey}}" data-bind="consumerKey"/>
					<span class="error-message consumerKey-error"></span>
				</div>

				<div>
					<label>[[#{thirdpartyserver.admin.protocol.conf.oauth1a.request-tokens}]]</label>
					<div class="flexible">
						<select data-bind="requestTokenHttpMethod">
							<option value="GET" 	{{#equal requestTokenHttpMethod 'GET'}}selected="selected"{{/equal}}>GET</option>
							<option value="POST" 	{{#equal requestTokenHttpMethod 'POST'}}selected="selected"{{/equal}}>POST</option>
						</select>
						<input type="text" value="{{requestTokenUrl}}" data-bind="requestTokenUrl"/>
						<span class="error-message requestTokenUrl-error"></span>
					</div>
				</div>

				<div>
					<label>[[#{thirdpartyserver.admin.protocol.conf.oauth1a.access-tokens}]]</label>
					<div class="flexible">
						<select data-bind="accessTokenHttpMethod">
							<option value="GET" 	{{#equal accessTokenHttpMethod 'GET'}}selected="selected"{{/equal}}>GET</option>
							<option value="POST" {{#equal accessTokenHttpMethod 'POST'}}selected="selected"{{/equal}}>POST</option>
						</select>
						<input  type="text" value="{{accessTokenUrl}}" data-bind="accessTokenUrl"/>
						<span class="error-message accessTokenUrl-error"></span>
					</div>
				</div>

				<div>
					<label>[[#{thirdpartyserver.admin.protocol.conf.oauth1a.autorize}]]</label>
					<input type="text" value="{{userAuthorizationUrl}}" data-bind="userAuthorizationUrl"/>
					<span class="error-message userAuthorizationUrl-error"></span>
				</div>

				<div>
					<label>[[#{thirdpartyserver.admin.protocol.conf.oauth1a.secret}]]</label>
					<textarea data-bind="clientSecret" >{{clientSecret}}</textarea>
					<span class="error-message clientSecret-error"></span>
				</div>

				<div>
					<label>[[#{thirdpartyserver.admin.protocol.conf.oauth1a.sig-method}]]</label>
					<select data-bind="signatureMethod">
						<option value="HMAC_SHA1" {{#equal signatureMethod 'HMAC_SHA1'}}selected="selected"{{/equal}}>HMAC-SHA1</option>
						<option value="RSA_SHA1" {{#equal signatureMethod 'RSA_SHA1'}}selected="selected"{{/equal}}>RSA-SHA1</option>
					</select>
				</div>
				</div>
				</script>


			<script id="oauth-creds-template" type="text/x-handlebars-template">
				<div class="tbl">
					<div>
						<label>[[#{label.Token}]]</label>
						<input type="text" value="{{token}}" data-bind="token">
					</div>
					<div>
						<label>[[#{label.TokenSecret}]]</label>
						<input value="{{tokenSecret}}" data-bind="tokenSecret">
					</div>
				</div>
				</script>


			<script id="basic-creds-template" type="text/x-handlebars-template">
				<div class="tbl">
					<div>
						<label>[[#{label.Login}]]</label>
						<input type="text" value="{{username}}" data-bind="username">
					</div>
					<div>
						<label>[[#{label.Password}]]</label>
						<input type="password" value="{{password}}" data-bind="password">
					</div>
				</div>
				</script>

			<script id="messagepane-template" type="text/x-handlebars-template">
				<div class="display-table-row">
				    <div class="display-table-cell warning-cell">
				      <div class="generic-signal"></div>
				    </div>

				    <div class="txt-message display-table-cell" style="padding-top:20px"></div>
				</div>
				</script>

		</div>



	</div>


</body>
